<mat-container>
    <table mat-table [dataSource]="dataSource" matSort #matSort="matSort">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header sortActionDescription="Sort by name">
                name</th>
            <td mat-cell *matCellDef="let hotelRow">{{hotelRow.name}}</td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by City">city</th>
            <td mat-cell *matCellDef="let hotelRow">{{hotelRow.city}}</td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Category">category</th>
            <td mat-cell *matCellDef="let hotelRow">{{hotelRow.category}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let hotelRow; columns: displayedColumns;"></tr>
        <!-- <tr class="mat-row" *matNoDataRow>This filter does not match {{input.value}}</tr> -->
    </table>
</mat-container>